*.mp4
*.mkv
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.python_history
.selected_editor
.viminfo
.wget-hsts
/.ssh
/.cache

#Seedbox
/seedbox/deluge
/seedbox/jackett
/seedbox/jellyfin
/seedbox/radarr
/seedbox/sonarr

#Tools
/tools/portainer

#Web
/web/duckdns
/web/nginx

